{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="{% static 'images/download(1).jfif'}" alt="">
    <table  width="50%" align="CENTER" >
        <tr><th colspan="3">BAABTRA <BR></BR></th></tr>
        <TR align="center"><td>
            <a href="./HOME.HTML">HOME</a></td>
        <td>
        <a href="./about.html">ABOUT
        </td>
        </a>
        <td>
            <a href="./contact.html">CONTACT</a>
        </td>
        </TR>
        
        
       
        </table>
    <h1 align="center">BAABTRA</h1>
    <p>LEARN SOFTWARE
        Getting a Software Job is So Easy Now with our IT Internship Programs.
        Learn programming from Kerala's most trusted software training company with the highest placement record. Enroll in software courses and internship programs in Python, Flutter, Angular, React and PHP to start your career.</p>


    <p>EXPLORE OUR INTERNSHIP PROGRAMME
        Learn new skills to go ahead of your career
        Join Us
        It doesn’t matter how talented you are. Join specialized job oriented software courses & training programs and just learn the in-demand skills to be a better programmer.
        
        Get Skilled for Job
        Get trained and skilled under the guidance of expert software engineers and be ready for the jobs.
        
        Get Hired
        Showcase your profile with skills acquired and get hired by your dream company.</p>
        <img src="./pic.jpeg" alt="" height="500" width="500">
        <img src="./pic1.jpg" alt="" height="500" width="500">
</body>
</html>